{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Devtools{% endblock %}

{% block content_title %}{% endblock %}
{% block header_custom_menu %}{% endblock %}

{% block page_content %}

    <div class="header-body">
        <div class="row">

            {% for key, value  in counts %}
                <div class="col-xl-3 col-lg-6 mb-2 mb-xl-4">
                    <div class="card card-stats mb-4 mb-xl-0" style="background: var(--sidebar-bg);">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-1">{{ key|trans }}</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ value|number_format(0, '.', ',') }} <small>items</small></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

