<div class="card p-0 mb-4 border-0">
    <div class="card-header bg-none px-3 text-bold fs-4">
        {{ language|trans }}
    </div>
    <div class="card-body p-0">
        <pre class="m-0"><code class="hljs">{%- block code -%}{%- endblock code -%}</code></pre>
    </div>
</div>
