<footer class="footer" aria-labelledby="footer-heading">
  <div class="footer__wrapper">
    <div class="footer__inner">
      <div class="footer__inner__elements">
        <div>
          <p class="mx-auto text-sm ">
            Crafted with ❤️ by <a href="https://github.com/arnaud-ritti"
              target="_blank"
              class="text-oyster hover:text-white">
              Arnaud Ritti
            </a> © {{ 'now'|date('Y') }}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
