<div x-show="open" class="mobile-navigation" x-ref="dialog" aria-modal="true" style="display: none">
  <div
    x-show="open"
    x-transition:enter="backdrop--transition"
    x-transition:enter-start="backdrop--transition_in"
    x-transition:enter-end="backdrop--transition_out"
    x-transition:leave="backdrop--transition"
    x-transition:leave-start="backdrop--transition_out"
    x-transition:leave-end="backdrop--transition_in"
    class="backdrop"
    @click="open = false"
    aria-hidden="true"
    style="display: none"
  ></div>

  <div
    x-show="open"
    x-transition:enter="wrapper--transition"
    x-transition:enter-start="wrapper--transition_in"
    x-transition:enter-end="wrapper--transition_out"
    x-transition:leave="wrapper--transition"
    x-transition:leave-start="wrapper--transition_out"
    x-transition:leave-end="wrapper--transition_in"
    class="wrapper"
    style="display: none"
  >
    <div
      x-show="open"
      x-transition:enter="close--transition"
      x-transition:enter-start="close--transition_in"
      x-transition:enter-end="close--transition_out"
      x-transition:leave="close--transition"
      x-transition:leave-start="close--transition_out"
      x-transition:leave-end="close--transition_in"
      class="close"
      style="display: none"
    >
      <button type="button" class="close__button" @click="open = false">
        <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>

    <div class="mobile-navigation__inner">
      <div class="mobile-navigation__logo">
        <a href="/">{% include 'partial/assets/logo.html.twig' %}</a>
      </div>
      <nav class="mobile-navigation__menu">
        {{ knp_menu_render('main', {template: 'partial/global/sidebarLinks.html.twig'}) }}
      </nav>
    </div>
  </div>

  <div class="mobile-navigation__clearfix"></div>
</div>
<div class="open">
  <button type="button" class="open__button" @click="open = true" >
    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" ></path>
    </svg>
  </button>
</div>
