<nav class="navbar">
  <div class="navbar__wrapper">
    <div class="navbar__inner">
      <div class="navbar__inner__elements">
        {% include 'partial/darkmode/toggle.html.twig' %}
      </div>
    </div>
  </div>
</nav>
